@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
html, body{
	font-family: "Noto Sans KR", serif;
	background-color: var(--base-color-black);
	color:var(--base-color-gray-a);
	font-size:0.9rem;
}
.eng{
	font-family: "Exo 2", serif;
}
.kor{
	font-family: "Noto Sans KR", serif;
}
header{
	border-bottom:1px solid var(--base-color-gray-b);
	padding:10px 0;
	color:var(--base-color-gray-c);
	z-index: 150;
	background-color: var(--base-color-black);
	width:100%;
}
.scroll-header{
	position: absolute;
	transition:0.5s;
}
.header{
	display: flex;
	justify-content: center;
	font-size:2.5rem;
	font-weight:700;
	padding:0 0 30px 0;
}
.header span{
	color:var(--base-color-red-a);
}
.search{
	display: flex;
	justify-content: center;
	padding: 0 0 30px 0;
}
.keyword{
	all:unset;
	border:1px solid var(--base-color-gray-b);
	padding:10px 10px;
	width:350px;
	border-radius: 10px;
	background-color: var(--base-color-gray-g);
}
.nav{
	padding:10px;
	font-size:1.0rem;
	display: flex;
	justify-content: center;
}
.language, .home, .all-items{
	background-color: var(--base-color-gray-b);
	border-radius: 10px;
}
.nav > article{
	width:fit-content;
	padding:5px 10px;
	margin:0 10px;
}
.nav > article > .btn-str{
	cursor:pointer;
}
.nav-btn{
	position: relative;
}
.btn-str:hover{
	color:var(--base-color-red-a);
}

.sub-menu{
  visibility: hidden;
  opacity: 0;
  left:50%;
  transform: translateY(50px) translateX(-50%); /* 초기 위치를 살짝 위로 이동 */
  position: absolute;
  width: max-content;
  height: max-content;
  background-color: var(--base-color-black);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s; /* visibility를 마지막에 처리 */
  border: 1px solid var(--base-color-gray-d);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.sub-menu ul{
	list-style: none;
	padding:0;
	margin:0;
}

.sub-menu ul li{
	padding:5px 0;
	cursor:pointer;
}
.sub-menu ul li:not(:last-child){
	border-bottom:1px solid var(--base-color-gray-d);
}
.sub-menu ul li:hover{
	color:var(--base-color-red-a);
}

.nav-btn:hover .sub-menu{
  visibility: visible; /* 보이도록 설정 */
  opacity: 1;
  left:50%;
  transform: translateY(0) translateX(-50%); /* 제자리로 이동 */
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0s; /* visibility 즉시 활성화 */
}

.arrow-down{
	position:absolute;
	width:fit-content;
	padding:0 5px;
	transition: transform 0.5s ease; /* 부드러운 회전 효과 */
	top:7px;
}
/* 마우스를 span:first-child에 올렸을 때 아이콘 회전 */
.btn-str:hover + .arrow-down {
	color:var(--base-color-red-a);
    transform: rotate(180deg);
}

main{
	padding-top:30px;
}

.scroll-main {
    margin-top: 300px;
}

.main-banner-top, .main-info-top{
	display:flex;
	justify-content:center;
	width:fit-content;
	margin:20px auto;
}
.main-info-top{
	padding:20px 10px;
	align-items: center;
	justify-content:space-between;
}
.main-info-top > article{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:250px;
	height:150px;
	border-radius:15px;
	border:1px solid var(--base-color-gray-d);
}

.main-info-top article article:first-child{
	height:35px;
	width:95%;
	border-bottom:1px solid var(--base-color-gray-d);
	display:flex;
	align-items:center;
	justify-content:center;
	font-size: 1.0rem;
	font-weight: 700;
}
.main-info-top article article:last-child{
	flex:1;
}

.main-banner-top article{
	margin:0 10px;
	border-radius:15px;
	border:1px solid var(--base-color-gray-d);
	height:fit-content;
}
.main-banner-top article img{
	border-radius:15px;
}
.in-line, .out-line{
	border-bottom:1px solid var(--base-color-gray-f);
	border-radius:0 0 15px 15px;
	margin:20px auto;
	height:30px;
}

.out-line{
	border-bottom:0;
	border-top:1px solid var(--base-color-gray-f);
	border-radius:15px 15px 0 0;
}

.in-line ul{
	list-style: none;
	display: flex;
	justify-content: flex-end;
	padding-right:20px;
}

.banner-center{
	margin:50px auto;
	padding:0 10px;
	display:flex;
	justify-content: space-between;
}

.banner-center > section{
	height:200px;
	border-radius: 10px;
}

.banner-center section:first-child{
	background-image:url(/images/center_banner_01.png);
}
.banner-center > section:first-child + section {
    background-image: url(/images/center_banner_02.png);
}
.banner-center section:last-child{
	background-image:url(/images/center_banner_03.png);
}

.line-block-title{
	display:flex;
	justify-content: center;
	font-size:2.5rem;
	font-weight:700;
}

.new-goods,
.category-random-goods,
.category-goods,
.all-items-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin:0 auto;
	padding:0 10px;
}
.new-goods .item,
.category-random-goods .item,
.category-goods .item,
.all-items-wrapper .item{
	width:220px;
	margin:10px 0;
	border-bottom:1px solid var(--base-color-gray-d);
	border-radius:0 0 15px 15px;
}
.new-goods .item section:last-child > article,
.category-random-goods .item section:last-child > article,
.category-goods .item section:last-child > article,
.all-items-wrapper .item section:last-child > article{
	margin:10px 0;
	text-align: center;
}
.new-goods .item section:last-child > article > span,
.category-random-goods .item section:last-child > article > span,
.category-goods .item section:last-child > article > span,
.all-items-wrapper .item section:last-child > article > span{
	margin:0 2px;
}
.new-goods .item section:last-child > article > span:first-child,
.category-random-goods .item section:last-child > article > span:first-child,
.category-goods .item section:last-child > article > span:first-child,
.all-items-wrapper .item section:last-child > article > span:first-child{
	text-decoration: line-through;
	font-size:0.9rem;
}
.representative-image{
	position:relative;
	border-radius: 10px;
	transform-style: preserve-3d;
}
.in-logo{
	position: absolute;
    top: 10px;
    left: 10px;
    width:38px;
    height:29px;
    transform: translateZ(20px);
}
.in-logo img{
	width:100%;
}

.item:hover section:last-child > article:first-child{
	color:var(--base-color-white);
}

.purchase-price{
	color:var(--base-color-red-a);
	font-size:1.05rem;
	font-weight:700;
}

.new-goods .item img,
.category-random-goods .item img,
.category-goods .item img,
.all-items-wrapper .item img{
	width:100%;
	border-radius:10px;
}
.action-banner{
	margin:50px 0;
}

.text-banner{
	font-size:2.5rem;
	font-weight:700;
	text-align:center;
	padding:30px 0;
}

.bottom-banner-01{
	height:400px;
	background-image: url(/images/bottom_banner_01.jpg);
	background-size: cover;
}

.rep-image {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.rep-image.loaded {
    opacity: 1;
}

footer{
	display:flex;
	justify-content:center;
	border-top: 1px solid var(--base-color-gray-b);
	padding:50px 0;
}
footer > section{
	display: flex;
}
footer > section > section:not(:first-child){
	margin-left:30px;
}

.footer-logo{
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content:center;
}

.footer-logo > article:first-child{
	margin-bottom:15px;
}

footer > section > section:not(:first-child) > article:first-child {
	font-size:1.1rem;
	font-weight:700;
	border-bottom:1px solid var(--base-color-gray-d);
	padding:10px 0;
}
footer > section > section:not(:first-child) > article:last-child{
	border-bottom: 1px solid var(--base-color-gray-d);
    border-radius: 0 0 15px 15px;
    padding-bottom:15px !important;
}
footer > section > section:not(:first-child) > article:not(:first-child){
	padding:10px 0 0 15px;
}