{{> header}}
{{> banner}}
	<section class="line-block-title eng">
		- All items -
	</section>
	<section class="line-decoration">
		<article class="out-line"></article>
	</section>
	<section class="all-items-wrapper">
		<!-- getItems fn data -->
	</section>
	<section class="line-decoration">
		<article class="in-line"></article>
	</section>
{{> footer}}