	<section class="main-banner-top">
		<article><img src="/images/top_banner_01.png"></article>
		<article><img src="/images/top_banner_02.png"></article>
		<article><img src="/images/top_banner_03.png"></article>
		<article><img src="/images/top_banner_04.png"></article>
	</section>
	<section class="main-info-top">
		<article>
			<article>상품데이터</article>
			<article></article>
		</article>
		<article>
			<article>쇼핑몰제작</article>
			<article></article>
		</article>
		<article>
			<article>홈페이지제작</article>
			<article></article>
		</article>
		<article>
			<article>공지사항</article>
			<article></article>
		</article>
	</section>
	<section class="line-decoration main-line-decoration">
		<article class="in-line"></article>
	</section>
	<section class="banner-center">
		<section class="site" onclick="location.href='/partner?what='+this.getAttribute('class')">
			<article>홈페이지 제작</article>
		</section>
		<section class="shopping-mall" onclick="location.href='/partner?what='+this.getAttribute('class')">
			<article>쇼핑몰 제작</article>
		</section>
		<section class="open-market" onclick="location.href='/partner?what='+this.getAttribute('class')">
			<article>오픈마켓 입점</article>
		</section>
	</section>