{{> header}}
	<section class="main-banner-top">
		<article><img src="/images/top_banner_01.png"></article>
		<article><img src="/images/top_banner_02.png"></article>
		<article><img src="/images/top_banner_03.png"></article>
		<article><img src="/images/top_banner_04.png"></article>
	</section>
	<section class="line-decoration">
		<article class="in-line"></article>
	</section>
	<section class="line-block-title">
		Category items
	</section>
	<section class="line-decoration">
		<article class="out-line"></article>
	</section>
	<section class="line-decoration">
		<article class="in-line"></article>
	</section>
{{> footer}}