{{> header}}
{{> banner}}
	<section class="line-block-title eng">
		- New items -
	</section>
	<section class="line-decoration">
		<article class="out-line"></article>
	</section>
	<section class="new-goods">
		<!-- getItems fn data -->
	</section>
	<section class="line-decoration">
		<article class="in-line"></article>
	</section>
	<section class="action-banner">
	
		  <div id="app">
		    <div class="demo-slider">
		      <!-- Material slider -->
		      <div class="swiper">
		        <div class="swiper-wrapper">
		          <div class="swiper-slide">
		            <!-- Wrap each slide content with "swiper-material-wrapper" and "swiper-material-content" elements -->
		            <div class="swiper-material-wrapper">
		              <div class="swiper-material-content">
		                <!-- Use data-swiper-material-scale to add scale effect on required elements -->
		                <img class="demo-material-image" data-swiper-material-scale="1.25" src="/js/material-you-slider/assets/images/01.jpg" />
		                <!-- Use swiper-material-animate-opacity class to add opacity animation on required elements -->
		                <span class="demo-material-label swiper-material-animate-opacity">Slide 1</span>
		              </div>
		            </div>
		          </div>
		          <div class="swiper-slide">
		            <div class="swiper-material-wrapper">
		              <div class="swiper-material-content">
		                <img class="demo-material-image" data-swiper-material-scale="1.25" src="/js/material-you-slider/assets/images/02.jpg" />
		                <span class="demo-material-label swiper-material-animate-opacity">Slide 2</span>
		              </div>
		            </div>
		          </div>
		          <div class="swiper-slide">
		            <div class="swiper-material-wrapper">
		              <div class="swiper-material-content">
		                <img class="demo-material-image" data-swiper-material-scale="1.25" src="/js/material-you-slider/assets/images/03.jpg" />
		                <span class="demo-material-label swiper-material-animate-opacity">Slide
		                  3</span>
		              </div>
		            </div>
		          </div>
		          <div class="swiper-slide">
		            <div class="swiper-material-wrapper">
		              <div class="swiper-material-content">
		                <img class="demo-material-image" data-swiper-material-scale="1.25" src="/js/material-you-slider/assets/images/04.jpg" />
		                <span class="demo-material-label swiper-material-animate-opacity">Slide 4</span>
		              </div>
		            </div>
		          </div>
		          <div class="swiper-slide">
		            <div class="swiper-material-wrapper">
		              <div class="swiper-material-content">
		                <img class="demo-material-image" data-swiper-material-scale="1.25" src="/js/material-you-slider/assets/images/05.jpg" />
		                <span class="demo-material-label swiper-material-animate-opacity">Slide 5</span>
		              </div>
		            </div>
		          </div>
		          <div class="swiper-slide">
		            <div class="swiper-material-wrapper">
		              <div class="swiper-material-content">
		                <img class="demo-material-image" data-swiper-material-scale="1.25" src="/js/material-you-slider/assets/images/06.jpg" />
		                <span class="demo-material-label swiper-material-animate-opacity">Slide 6</span>
		              </div>
		            </div>
		          </div>
		          <div class="swiper-slide">
		            <div class="swiper-material-wrapper">
		              <div class="swiper-material-content">
		                <img class="demo-material-image" data-swiper-material-scale="1.25" src="/js/material-you-slider/assets/images/07.jpg" />
		                <span class="demo-material-label swiper-material-animate-opacity">Slide 7</span>
		              </div>
		            </div>
		          </div>
		          <div class="swiper-slide">
		            <div class="swiper-material-wrapper">
		              <div class="swiper-material-content">
		                <img class="demo-material-image" data-swiper-material-scale="1.25" src="/js/material-you-slider/assets/images/08.jpg" />
		                <span class="demo-material-label swiper-material-animate-opacity">Slide 8</span>
		              </div>
		            </div>
		          </div>
		          <div class="swiper-slide">
		            <div class="swiper-material-wrapper">
		              <div class="swiper-material-content">
		                <img class="demo-material-image" data-swiper-material-scale="1.25" src="/js/material-you-slider/assets/images/09.jpg" />
		                <span class="demo-material-label swiper-material-animate-opacity">Slide 9</span>
		              </div>
		            </div>
		          </div>
		          <div class="swiper-slide">
		            <div class="swiper-material-wrapper">
		              <div class="swiper-material-content">
		                <img class="demo-material-image" data-swiper-material-scale="1.25" src="/js/material-you-slider/assets/images/10.jpg" />
		                <span class="demo-material-label swiper-material-animate-opacity">Slide 10</span>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
	
	</section>
	<section class="line-block-title eng random-category">
		<!-- getItems random category fn data -->
	</section>
	<section class="line-decoration">
		<article class="out-line"></article>
	</section>
	<section class="category-random-goods">
		<!-- category-random-goods fn data -->
	</section>
	<section class="line-decoration">
		<article class="in-line"></article>
	</section>
	<section class="eng text-banner">
		<span>Your perfect partner WMULLYU</span><img src="/images/source/footer_logo.png">
	</section>
	<section class="bottom-banner-01"></section>
{{> footer}}