{{> header}}
{{> banner}}
	<section class="line-block-title eng">
		- Category items -
	</section>
	<section class="line-decoration">
		<article class="out-line"></article>
	</section>
	<section class="category-goods">
		<!-- getItems fn data -->retrtert
	</section>
	<section class="line-decoration">
		<article class="in-line"></article>
	</section>
{{> footer}}